*{
    font-family: 'Inter', sans-serif;
}
body{
    background: linear-gradient(to bottom, #C72B41, #000000);
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar{
margin-top: 20px;
font-size: 15px;
font-weight: 600;
color: #E0E0E0;
}

.card{
    width: 350px;
    height: 530px;
    padding: 25px;
    border-radius: 20px;
}

.map {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1100px;
    z-index: -1; /* Set z-index to -1 so it stays below other content */
}

.kembali-btn {
    color: #C72B41;
    font-weight: bold;
    text-decoration: none; /* Removes the underline */
}