*{
    font-family: 'Inter', sans-serif;
}
body{
    background-image: url('/img/peta.png');
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right -10px bottom -100px;
    height: 100vh;
}

.navbar{
margin-top: 20px;
font-size: 15px;
font-weight: 600;
color: #C72B41;
}

.table{
    border: #000000;
    text-align: center;
}

.form-control{
    width: 200px;
    justify-content: end;
    align-items: end;
    background-color: transparent;
    border: none;
    margin-top: 10px;
}